@media (max-width:375px) {
    header .container>nav,
     header .btn {
        display :none;
    }
    .mobile-menu{
        z-index:-1;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background-color: rgba(0 ,0 ,0, .4);
        padding:70px;
        display:none;


    }
    .mobile-menu.active{
        display:block;
    }
    .mobile-menu nav{
        
        background-color:white;
        flex-direction:column;
        gap:10px;
        text-align:center;
        border-radius:10px;

    }
    .mobile-menu nav a{
        padding:10px;
    }
    .hamburger-icon{
        width:50px;
        height:50px;
        background-image:url('./images/icon-hamburger.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .hamburger-icon.close-icon{
        background-image:url('./images/icon-close.svg')
    }
    .hero-banner img {
        width:100%;
        position:relative;
        top:0;

    }
    .hero-section{
        background-position:top;
    }
    .hero-section .container{
        flex-direction:column;
    }
    .hero-banner {
        order:-1;
    }
    .hero-section .hero-content{
        width:100%;
        padding:20px 0;
        text-align:center;
    }

}